<div class="row">
    <div class="col-sm-6">
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-body text-secondary">
                <h5 class="card-title">Clientes cadastrados</h5>
                <h4>100000</h4>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-body text-secondary">
                <h5 class="card-title">Vendas do mês cadastrados</h5>
                <h4>R$ 99999,99</h4>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-body text-secondary">
                <h5 class="card-title">Vendas Pendentes de Pagamento</h5>
                <h4>50</h4>
            </div>
        </div>
    </div>
</div>

@code {

}
