@page "/clientes"

@inject IForlifeVendasApi ForLifeVendasApi
@inject IJSRuntime JsRuntime
<div class="maindiv">
    <div class="buscaClientediv">
        <h1>Clientes</h1>
        <form>
            <div>
                <label for="nomeCliente">Nome: </label>
                <input type="text" @bind="nomeClienteBusca">
            </div>
            <div>
                <label for="telefone">Telefone: </label>
                <input type="text" @bind="telefoneClienteBusca">
            </div>
            <div>
                <label for="dropLocais">Local: </label>
                <select @bind="localClienteBusca">
                    <option value="">Todos</option>
                    @if (locais is not null)
                    {
                        foreach (var local in locais.LocaisVenda)
                        {
                            <option value="@local.IdLocal">@local.Descricao</option>
                        }
                    }
                    else
                    {
                        <option value=""></option>
                    }
                </select>
            </div>
        </form>
        <button @onclick="BuscarClientes">Buscar Clientes</button>
    </div>
    <NavLink href="cadastroCliente" aria-hidden="true">
        <button id="novoCliente">Novo Cliente</button>
    </NavLink>
</div>
<div>
    @if (clientes == null)
    {
        <p>Nenhum cliente encontrado, utilize o campo de pesquisa acima</p>
    }
    else
    {
        @if (clientes.Clientes is not null)
        {
            <ExibirClientes Clientes="@clientes" />
        }
        else
        {
            <p>Nenhum cliente encontrado, utilize o campo de pesquisa acima</p>
        }
    }
</div>

@code {
    private GetClientesResponse clientes;
    public string nomeClienteBusca { get; set; }
    public string telefoneClienteBusca { get; set; }
    public string localClienteBusca { get; set; }
    private GetLocaisVendaResponse locais;

    protected override async Task OnInitializedAsync()
    {
        await BuscarLocais();

        await BuscarClientes();
    }

    protected async Task BuscarLocais()
    {
        var response = await ForLifeVendasApi.GetLocaisVenda(null, null);

        if (response.IsSuccessStatusCode)
            locais = response.Content;
        else
            await JsRuntime.InvokeVoidAsync("alert", $"Falha ao consultar lista de locais. Erro: {response.Error.Message}");
    }

    protected async Task BuscarClientes()
    {
        clientes = null;
        var response = await ForLifeVendasApi.GetClientes(nomeClienteBusca, telefoneClienteBusca, localClienteBusca);

        if (response.IsSuccessStatusCode)
            clientes = response.Content;
        else
            await JsRuntime.InvokeVoidAsync("alert", $"Falha ao consultar clientes. Erro: {response.Error.Message}");
    }

}
