@page "/locais"

@inject IForlifeVendasApi ForLifeVendasApi
@inject IJSRuntime JsRuntime
<div class="maindiv">
    <div class="buscaLocaldiv">
        <h1>Locais de Venda</h1>
        <form>
            <div>
                <label for="nomeCliente">Local: </label>
                <input type="text" @bind="descLocalBusca">
            </div>
            <div>
                <label for="telefone">Endereço: </label>
                <input type="text" @bind="enderecoLocalBusca">
            </div>
        </form>
        <button @onclick="BuscarLocais">Buscar Locais</button>
    </div>
    <NavLink href="cadastroLocal" aria-hidden="true">
        <button id="novoLocal">Novo Local</button>
    </NavLink>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Local</th>
            <th>Endereço</th>
            <th>Referência</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    @if (locais == null)
    {
        <tr>Nenhum local encontrado, utilize o campo de pesquisa acima</tr>
    }
    else
    {
        <tbody>
            @if (locais is not null)
            {
                @foreach (var local in locais.LocaisVenda)
                {
                    <tr>
                        <td>@local.Descricao</td>
                        <td>@local.Endereco</td>
                        <td>@local.Referencia</td>
                        <td>
                            <div>
                                <a href="/detalhesLocal/@local.IdLocal/@local.Descricao">
                                    <span class="oi oi-eye" id="visualizarLocal" />
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>Nenhum local encontrado, utilize o campo de pesquisa acima</tr>
            }
        </tbody>
    }

</table>

@code {
    public string descLocalBusca { get; set; }
    public string enderecoLocalBusca { get; set; }
    private GetLocaisVendaResponse locais;

    protected override async Task OnInitializedAsync()
    {
        var response = await ForLifeVendasApi.GetLocaisVenda(descLocalBusca, enderecoLocalBusca);

        if (response.IsSuccessStatusCode)
            locais = response.Content;
        else
            await JsRuntime.InvokeVoidAsync("alert", $"Falha ao consultar lista de locais. Erro: {response.Error.Message}");
    }
    protected async Task BuscarLocais()
    {
        locais = null;
        var response = await ForLifeVendasApi.GetLocaisVenda(descLocalBusca, enderecoLocalBusca);

        if (response.IsSuccessStatusCode)
            locais = response.Content;
        else
            await JsRuntime.InvokeVoidAsync("alert", $"Falha ao lista de locais. Erro: {response.Error.Message}");

        
    }

}
