@page "/inserirVenda/{idCliente}/{nomeCliente}"
@using System.Globalization;

@inject IForlifeVendasApi ForLifeVendasApi
@inject IJSRuntime JsRuntime
@inject NavigationManager NavManager

<div class="maindiv">
    <div class="formCadastroVenda">
        <h1>Inserir Venda</h1>
        <EditForm Model="inserirVendaDto" OnValidSubmit="Enviar" class="col-6">
            <DataAnnotationsValidator/>
            <ValidationSummary />

            <fieldset disabled>
                <div class="input-group mb-2">
                    <span class="input-group-text">Cliente </span>
                    <input type="text" class="form-control" placeholder="@nomeCliente"/>
                </div>
            </fieldset>

            <div class ="input-group mb-2">
                <span class="input-group-text">Valor do pedido </span>
                <InputText @bind-Value="@inserirVendaDto.ValorTotal" @bind-Value:format="F2" class="form-control" />
            </div>

            <div class="input-group mb-2">
                <span class="input-group-text">Valor pago </span>
                <InputText @bind-Value="@inserirVendaDto.ValorPago" class="form-control" />
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Códigos de Produtos </span>
                <InputTextArea @bind-Value="inserirVendaDto.CodProdutos" class="form-control" />
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Observações </span>
                <InputTextArea @bind-Value="inserirVendaDto.Observacoes" class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary">Inserir Venda</button>

            <button type="button" @onclick=NavigateToDetalhesCliente class="btn btn-secondary">Cancelar</button>
    
        </EditForm>
    </div>

    @if (loading)
    {
        <div class="spinner"></div>
    }

</div>

@code {
    [Parameter]
    public string idCliente { get; set; }
    [Parameter]
    public string nomeCliente { get; set; }

    private InserirVendaDto inserirVendaDto { get; set; } = new();
    private PostPedidoRequest pedidoRequest { get; set; } = new();
    private bool loading { get; set; }


    private async void Enviar()
    {
        loading = true;
        pedidoRequest.IdCliente = idCliente;
        pedidoRequest.ValorTotal = Convert.ToDecimal(inserirVendaDto.ValorTotal);
        pedidoRequest.ValorPago = inserirVendaDto.ValorPago is null ? 0 : Convert.ToDecimal(inserirVendaDto.ValorPago);
        pedidoRequest.Observacoes = inserirVendaDto.Observacoes;
        pedidoRequest.CodProdutos = inserirVendaDto.CodProdutos;

        var response = await ForLifeVendasApi.PostPedido(pedidoRequest);

        loading = false;

        if(!response.IsSuccessStatusCode)
        {
            await JsRuntime.InvokeVoidAsync("alert", $"Falha ao cadastrar a venda. Erro: {response.Error.Message}");
            return;
        }

        if (!string.IsNullOrEmpty(response.Content.Id))
        {
            await JsRuntime.InvokeVoidAsync("alert", "Pedido cadastrado com sucesso!");
            NavManager.NavigateTo($"/detalhesCliente/{idCliente}");
        }
    }

    protected void NavigateToDetalhesCliente()
        => NavManager.NavigateTo($"/detalhesCLiente/{idCliente}");
}
