@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<p>Conta @cont</p>

<button @onclick=Inc>Click</button>

    @code {
        private int cont = 0;

        protected void Inc() => cont++;
}